<h2><%= t('.contact_us') %></h2>
<%= semantic_form_for @contact, :url => contacts_path do |f| %>
  <%= f.input :email, :label => t('.email') %>
  <%= f.input :message, :as => :text, :label => t('.message') %>
  <%= f.commit_button t('.submit'), :button_html => { :alt => t('.submit'), :title => t('.submit') } %>
<% end %>
